html {
    font-size: 14px;
}

body {
    background-color: teal ;
    color: white ;
    font-family: "Century Gothic", helvetica, arial, sans-serif;
    font-size: 14px; 
    line-height: 1.5; 
}


ul {
    font-size: 14px; 
    line-height: 1.5;
    margin: 1.5em 0 0;
}


p {
    font-size: 14px; 
    line-height: 1.5;
    margin: 1.5em 0 0;
}


h1 {
    font-size: 24px; 
    font-weight: normal;
    line-height: 1.6154em;
    margin: .8077em 0 0 0;
}

h2{
    font-size: 24px;
    font-weight: normal;
    line-height: 1.75em;
    margin: .875em 0 0 0;
}


ul
{
    padding-left: 2em;
     margin-top: 0;
    margin-bottom: 0;    
}



img {
    width: 150px;
    height: 150px;
    vertical-align: middle;
}

 {
    width: 75px; 
    height: 75px;
    vertical-align: middle;
}
